#######################
# [dir|dot]env Things # 
#######################

.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.envrc*


#############
# Go Things #
#############

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum

#################
# VSCode Things #
#################

**.vscode**

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

#################
# Python Things #
#################

**.venv**

####################
# Clyde Dev Things #
####################

**httpcache**
isItCaching*.txt